@font-face {
    font-family: "Open Sans Condensed";

    src: url("../font/OpenSansCondensed-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
    font-size: 14px;
    color: #ffffff;
}

h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

.header-container-logo {
    background-color: #dcdcdc;
}

.header-wrapper-logo {
    min-width: 980px;
    max-width: 980px;;
    margin: 0 auto;
    padding: 0 10px;
}

.header-wrapper-items {
    display: flex;
    justify-content: space-between;
    padding: 65px 0;
}

.header-logo img {
    width: 273px;
    height: 100px;
}

.header-phone p {
    margin: 0
}

.header-phone p {
    font-family: "Open Sans Condensed";
    color: #767676;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 1px;
}

.header-container-nav {
    background-color: #767676;
}

.header-wrapper-nav {
    margin: 0 auto;
}

.header-wrapper-nav ul {
    margin: 0;
    padding:  26px 0;

    display: flex;
    justify-content: center;
}

.header-wrapper-nav ul li {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 18px;
    list-style: none;
    border-right: 2px solid #ffffff;
}

.header-wrapper-nav ul li:first-child {
    padding-left: 0;
}

.header-wrapper-nav ul li:last-child {
    padding-right: 0;
    border-right: none;
}

.header-wrapper-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.header-wrapper-nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin-bottom: 200px;
}

.main-carousel {
    width: 1248px;
    height: 400px;

    margin: 0 auto;
    margin-bottom: 30px;

    background-image: url("../img/slider.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.main-carousel img {
    margin: 0 auto;
}

.main-content {
    min-width: 980px;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-content-wrapper {
    display: flex;
    justify-content: center;
}

.main-content-news {
    background-color: #767676;
    display: block;
    width: 350px;
    height: 560px;
}

.main-content-news div {
    padding: 22px 52px 0 33px;
}

.main-content-news h2 {
    font-family: "PT Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 1px;
    padding-bottom: 38px;
}

.main-content-news p {
    margin: 0;
    padding-bottom: 30px;
}

.main-content-news p span {
    font-style: italic;
    letter-spacing: 0.35px;
}


.main-content-news-link {
    text-align: right;
}
.main-content-news-link a {
    color: #ffffff;
}

.main-content-info {
    margin: 20px 0 20px 60px;
    color: #767676;
}

.main-content-info h1 {
    font-size: 40px;
    letter-spacing: 1px;

    padding-bottom: 30px;
}

.main-content-info p {
    margin: 0;
    margin-bottom: 30px;
}

.footer-container {
    background-color: #777777;
    padding: 50px 0;
}

.footer-container-section {
    width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-item a {
    text-decoration: none;
    color: #ffffff;
}

.footer-nav ul {
    list-style: none;
}

.footer-nav a {
    color: #ffffff;
}

.footer-company-container {
    display: flex;
}

.footer-company-container p {
    padding-left: 10px;
}

.footer-company img {
    float: left;
    width: 36px;
    height: 38px;
}

@media screen and (max-width: 1247px) {
    .main-carousel {
        width: 0;
        height: 0;
    }
}